/* Styles will be added later */
body{
  font-family: sans-serif;
}

.Form{
  display: flex;
  justify-content: space-around;
  max-width:35%;            /* Should change for later updates */
}
