* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
 {
    background-image: url(covid.jpg);
    background-size: cover;
    background-repeat: no-repeat ;
    font-family: sans-serif;
    background-position: center;
    

}
.menu 
{
    background: darkolivegreen;
    text-align: center;
    font-size: 15px;
}

.first
 {
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.second
{
    width: 20%;
    margin: 4%;
    padding: 4%;
    
}

.active, .second:hover
{
    background: yellowgreen;
    border-radius: 3px;
}

.third
{
    text-decoration: none;
    color: rgb(250, 248, 248);
}
 .menu  .fa 
 {
     margin-right: 5px;
 }
 .submenu-1
 {
     display:none;
 }
 .menu  .second:hover .submenu-1
 {
     display:block;
     position: absolute;
     background: rgb(58, 220, 241);
     margin-top: 15px;
     margin-left: -15px;
     
}
.menu  .second:hover .fourth
{
    display:block;
    margin: 10px;
}
.menu  .second:hover .fifth
{
    
    padding: 10px;
    border-bottom: 1px dotted rgb(17, 15, 15);
    background: transparent;
    border-radius: 0px;
    text-align: left;
    display: block;
}
.menu  .second:hover .submenu-1 .second:last-child
{
    border-bottom: none;
}
.menu  .second:hover .submenu-1 .third:hover
{
    color: #b2ff00;
}
.fa-angle-right
{
    float:right;
}
#hover-me  .submenu-2
{
    display : none;
}
#hover-me2  .submenu-2
{
    display : none;
}


#hover-me:hover  .submenu-2  
{
    position: absolute;
    display: block;
    top: 30px;
    margin-left: 32em;
    background: rgb(129, 207, 3);
}
#hover-me2:hover  .submenu-2  
{
    position: absolute;
    display: block;
    top: 30px;
    margin-left: 32em;
    background: rgb(129, 207, 3);
}






