body{
    background-image: url(bg1.jpg);
    background-size: cover;
    background-attachment:fixed; 
    
}
form{
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

