*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black
}
.navbar .logo{
  align-self: flex-start;
  background-color: red;
  color: white;
}
.navbar a{
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  background: turquoise;
  height: 50px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
 
}
.navbar a:hover{
  background: black;
  color: white;
}
.navbar ul{
  justify-content: flex-end;
  list-style: none;
  display: flex;
  justify-content: stretch;
}
.navbar li{
  position: relative;
  width: 150px;
  text-align: center;
}
.navbar li:hover .first > li{
  display: block;
  top: 0;
  width: 150px;
}
.first li{
  display: none;
  position: relative;
}
.first{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 150px;
}
.first li:hover .second li{
  display: block;
}
.second li{
  display: none;
}
.second{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 100%;
  width: 150px;
}