body {
  background-image: url(background.jpg);
  background-size: cover;
  background-position: top;
  font-family: sans-serif;
}

.NavBar-items {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 20px 0px;
  font-size: larger;
}
.NavBar {
  background-color: green;
}
.NavBar-items li a {
  text-decoration: none;
  color: white;
}

.NavBar li {
  padding: 10px;
}
.active,
.NavBar li:hover {
  background-color: #2bab0d;
  border-radius: 3px;
}
