body{
    margin-top:5px;
}
.jumbotron{
    background-image: url('coworking-teamwork-illustration_1284-11809.jpg');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}
h1{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
}
.checkbox-inline, .checkbox label, .is-focused .checkbox-inline, .is-focused .checkbox label, .is-focused .radio-inline, .is-focused .radio label, .is-focused .switch label, .radio-inline, .radio label, .switch label{
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}
